@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker-clear-button::after {
  background-color: transparent !important;
  font-size: 20px !important;
  color: rgb(106, 106, 106) !important;
}

.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
  -webkit-appearance: inner-spin-button !important;
  height: 40px;
  margin-right: 6px;
  border-style: double;
}
