@tailwind base;
@tailwind components;
@tailwind utilities;

.react-datepicker-clear-button::after {
  background-color: transparent !important;
  font-size: 20px !important;
  color: rgb(106, 106, 106) !important;
}
